<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/layouts/main_template}">
<head>
<title>User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/commonStyle.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div layout:fragment="content" class="container mt-3">
		<h2 th:text="#{user.header.list}">회원 목록</h2>

		<input class="form-control" id="myInput" type="text"
			placeholder="Search.."> <br>
		<table class="table table-bordered">
			<thead align="center">
				<tr>
					<th width=40% th:text="#{user.userId}">아이디</th>
					<th width=40% th:text="#{user.userName}">사용자명</th>
					<th width=20%></th>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:if="${#lists.isEmpty(memberList)}">
					<td colspan="6" th:text="#{common.listEmpty}">List is empty.</td>
				</tr>

				<tr th:each="member : ${memberList}">
					<th:block th:if="!${myNo eq member.userNo}">
						<td align="center" th:text="${member.userId}">${member.userId}</td>
						<td align="center" th:text="${member.userName}">${member.userName}</td>
						<td align="center"><th:block th:if="${member.subsOk}">
								<a
									th:href="@{/subs/remove?subsNo={subsNo}&redView=user(subsNo=${member.subsNo})}">
									<button class="btn btn-success" id="subsBtn">구독 중</button>
								</a>
							</th:block> <th:block th:if="!${member.subsOk}">
								<a
									th:href="@{/subs/register?subsUserNo={subsUserNo}(subsUserNo=${member.userNo})}">
									<button class="btn btn-secondary" id="unSubsBtn">구독 하기</button>
								</a>
							</th:block></td>

					</th:block>
				</tr>
			</tbody>
		</table>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>
			$(document)
					.ready(
							function() {
								$("#myInput")
										.on(
												"keyup",
												function() {
													var value = $(this).val()
															.toLowerCase();
													$("#myTable tr")
															.filter(
																	function() {
																		$(this)
																				.toggle(
																						$(
																								this)
																								.text()
																								.toLowerCase()
																								.indexOf(
																										value) > -1)
																	});
												});
							});
		</script>
	</div>
</body>
</html>
