<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/layouts/main_template}">
<head>
<title>User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
	<div layout:fragment="content">
	
		<h2 th:text="#{subs.header.fromList}">내가 구독한 유저</h2>
		<table border="1">
			<tr>
				<th align="center" width="80" th:text="#{user.userId}">아이디</th>
				<th align="center" width="100" th:text="#{user.userName}">사용자명</th>
				<th:block th:if="${!#lists.isEmpty(memberSubsList)}">
					<th></th>
				</th:block>
			</tr>
			<tr th:if="${#lists.isEmpty(memberSubsList)}">
				<td colspan="2" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>

			<tr th:each="ms : ${memberSubsList}">
				<td align="center" th:text="${ms.userId}">${member.userId}</td>
				<td align="center" th:text="${ms.userName}">${member.userName}</td>
				<td><a
					th:href="@{/subs/remove?subsNo={subsNo}&view=subs(subsNo=${ms.subsNo})}">
						<button class="btn btn-success" id="subsBtn"
							th:text="#{subs.action.remove}">구독 취소</button>
				</a></td>
			</tr>
		</table>
		<h2 th:text="#{subs.header.toList}">나를 구독한 유저</h2>
		<table border="1">
			<tr>
				<th align="center" width="80" th:text="#{user.userId}">아이디</th>
				<th align="center" width="100" th:text="#{user.userName}">사용자명</th>
			</tr>
			<tr th:if="${#lists.isEmpty(subsMemberList)}">
				<td colspan="2" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>

			<tr th:each="sm : ${subsMemberList}">
				<td align="center" th:text="${sm.userId}">${member.userId}</td>
				<td align="center" th:text="${sm.userName}">${member.userName}</td>
			</tr>
		</table>
	</div>
</body>
</html>
